<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <br />
        <%= @user.name %>
        <br />
        <%= @user.email %>
        <br />
        <%= @user.area %>
        <br />
        <%= link_to "Following", followings_user_path(@user) %>
        <br />
        <%= link_to "Followers", followers_user_path(@user) %>
        <br />
        <% if current_user != @user %>
        <%= link_to "View my profile / my tweets", current_user %>
        <% end %>
        <br />
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.following_users.any? %>
      <h3>Following (<%= @user.following_users.count %>)</h3>
      <ol class="followings-followers">
        <%= page_entries_info @followingusers %>
        <%= render @followingusers %>
        <%= paginate @followingusers %>
      </ol>
    <% end %>
  </div>
</div>